* {
    padding: 0;
    margin: 0; /* Changed from auto to 0 */
    box-sizing: border-box;
}

header, footer, .grid {
    max-width: 840px;
    margin: auto; /* Center the container */
}

footer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    border-top: 2px solid black;
    padding-top: 12px;
}

a {
    display: block;
    text-decoration: none;
}

h1 {
    border-bottom: 2px solid blue;
    padding-top: 72px;
    padding-bottom: 12px;
}

.grid {
    display: grid;
    align-items: start; /* Align items as needed */
    grid-template-columns: 1fr 2fr;
}

.navigation {
    display: flex;
    flex-direction: row;
    background-color: rgb(67, 67, 185);
    color: white;
    width: 100%;
    justify-content: space-evenly;
    align-items: center;
}

.navigation a {
    margin: 10px;
    color: white;
}

.section {
    padding: 60px;
}

.box {
    padding: 1rem;
    margin: 1rem;
    box-sizing: border-box;
    background-color: bisque;
    color: rgb(0, 0, 0);
}

.img_deg {
    float: right;
}

.aside-text {
    position: absolute;
    top: 90px;
    left: 110px;
    color: white;
}

aside {
    margin-top: 0;
    position: relative;
    grid-column: 1/2;
    grid-row: 1/2;
}

main {
    grid-column: 2/3;
}

.aside-img {
    width: 100%;
    height: auto; /* Adjusted to maintain aspect ratio */
}
