/* Global Styles */
body {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
    color: var(--main-text-color);
    background-color: var(--main-bg-color);
}

li {
    list-style-type: none;
}
/* Header styles */
header {
    background-color: var(--header-bg-color);
}

.header-grid {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
    padding: 1rem;
    max-width: 1200px;
    margin: 0 auto;
}

.logo {
    height: 100px;
}

.nav-links {
    display: flex;
    justify-content: flex-end;
}

.nav-links a {
    margin: 0 15px;
    text-decoration: none;
    color: var(--header-text-color);
}

/* Main styles */
main {
    padding: 1rem;
}

/* Intro Section Styles */
.intro {
    position: relative;
    margin-bottom: 2rem;
    max-width: 1200px;
    margin: 0 auto;
    padding: 30px;
    background-color: black;
    color: #fff;
}

.intro-title {
    text-align: center;
    font-size: 3rem;
    color: var(--intro-title-color);
    margin-bottom: 1rem;
    padding-bottom: 25px;
}

.intro-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.intro-text {
    flex: 1;
    max-width: 50%;
    padding-right: 2rem;
    box-sizing: border-box;
    text-align: left;
}

.intro-image {
    flex: 1;
    max-width: 400px;
    height: auto;
    display: block;
}

/* Section styles */
.section {
    margin-bottom: 2rem;
}

.history {
    text-align: center;
}

.history h2 {
    margin: 0;
    padding: 1rem 0;
    color: var(--section-title-color);
}

.history-content {
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
    margin: 1rem auto;
    max-width: 1200px;
    padding: 0 1rem;
}

.history-text {
    flex: 1;
    margin: 0 1rem;
    max-width: 45%;
    box-sizing: border-box;
    padding: 10px;
}

.history-image {
    flex: 1;
    max-width: 400px;
    height: auto;
    display: block;
    margin: 0 1rem;
    border: 5px solid #fff;
    box-shadow: 0 0 10px rgba(0,0,0,0.5);
}

/* Adventure Section Styles */
.adventure {
    text-align: center;
    background-color: black;
    color: #fff;
}

.adventure h2 {
    margin: 0;
    padding: 1rem 0;
    color: var(--section-title-color);
}

/* Gallery Styles */
.gallery {
    display: flex;
    flex-wrap: nowrap;
    gap: 1rem;
    overflow-x: auto;
    padding-bottom: 1rem;
}

.gallery-item {
    flex: 1 0 200px;
    max-width: 140px;
}

.gallery-item img {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 8px;
}

.gallery-item figcaption {
    text-align: center;
    font-weight: bold;
    margin-top: 0.5rem;
}

/* Footer styles */
footer {
    background-color: var(--footer-bg-color);
    color: var(--footer-text-color);
    padding-top: 0px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
}

.footer-text {
    margin: 0;
    text-align: center;
    flex: 1;
}

.sociallinks {
    display: flex;
    gap: 1rem;
}

.social-link {
    text-decoration: none;
}

.social-icon {
    height: 30px;
}

/* contact page */
form {
    max-width: 600px;
    margin: 0 auto;
    background: #fff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

fieldset {
    border: none;
    padding: 0;
}

legend {
    font-size: 1.2em;
    margin-bottom: 10px;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

input[type="text"],
textarea,
select,
input[type="number"] {
    width: 100%;
    padding: 8px;
    margin-bottom: 10px;
    border: 1px solid #ddd;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button {
    background-color: #007bff;
    color: #fff;
    border: none;
    padding: 10px 15px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color: #0056b3;
}

.map {
    width:600;
    height:450;
    border:0;
}
